---
import type { GetStaticPaths } from "astro";
import { SITE } from "@/lib/config";
import { articlesHandler } from "@/lib/handlers/articles";
import { authorsHandler } from "@/lib/handlers/authors";
import ListLayout from "@/layouts/list.astro";
import WideCard from "@/components/cards/wideCard.astro";
import Pagination from "@/components/shared/pagination.astro";
import { getEntryBySlug, getEntryKey, getEntrySlug, getReferenceKey } from "@/i18n/content";
import { localizePath } from "@/i18n/paths";
import { DEFAULT_LOCALE, t } from "@/i18n/config";

export const getStaticPaths = (({ paginate }) => {
  const buildPaths = async () => {
    const allAuthors = await authorsHandler.allAuthors(DEFAULT_LOCALE);
    const allArticles = await articlesHandler.allArticles(DEFAULT_LOCALE);

    return allAuthors.flatMap((author) => {
      const authorKey = getEntryKey(author);
      const filteredArticles = allArticles.filter((article) =>
        article.data.authors
          .map((ref) => getReferenceKey(ref))
          .includes(authorKey)
      );
      return paginate(filteredArticles, {
        params: { id: getEntrySlug(author) },
        pageSize: SITE.postsPerPage,
      });
    });
  };

  return buildPaths();
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const params = Astro.params;
const articles = page.data;
const locale = Astro.currentLocale;
const basePath = localizePath(locale, `/authors/${params.id}`);

const entry = await getEntryBySlug("views", "author", locale);
const author = await authorsHandler.findAuthor(locale, params.id);

if (!entry) {
  return Astro.redirect(localizePath(locale, "/404"));
}

const [HEADER] = entry.data.blocks;
const authorHeader = t(locale, "author.pageTitle", {
  name: author.data.name,
  title: HEADER.title,
});
const authorMetaTitle = t(locale, "author.pageTitle", {
  name: author.data.name,
  title: entry.data.title,
});
---

<ListLayout
  header={authorHeader}
  entry={{
    ...entry,
    data: {
      ...entry.data,
      title: authorMetaTitle,
    },
  }}
>
  <section class="flex-1">
    <ul class="flex flex-col gap-4">
      {
        articles.map((article) => (
          <WideCard
            article={article}
            isLast={articles.lastIndexOf(article) === articles.length - 1}
          />
        ))
      }
    </ul>
  </section>

  <Pagination
    length={page.lastPage}
    currentUrl={page.url.current}
    currentPage={page.currentPage}
    baseUrl={basePath}
    prevUrl={page.url.prev}
    nextUrl={page.url.next}
    lastUrl={`${basePath}/${page.lastPage}`}
  />
</ListLayout>
